@charset "utf-8";

@font-face {
    /* font-properties */
    font-family: myfront;
    src: url('方正中倩简体.ttf');
}

body {
    font-family: myfront,serif;
    font-size: 16px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}
.navbar p{
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.navbar ul{
    margin-left: 170px;
}
.navbar dropdown-menu{
    margin-left: 170px;
}

.navbar{
    font-family: myfront, serif;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
}


.container-fluid h4{
    font-family: myfront, serif;
}

.container-fluid{
    width:100%;
    background-image: url("../pic/顶层 -底图.png");
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
}

.container-fluid a{
    width: 100px;
    height: 50px;
}


.navbar-fixed-bottom{
    background-color: #9acfea;
    color:#FFF;

}

.carousel-inner img{
    width: 100%;
}